.overlayNav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(27, 27, 58);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayNav-inactive {
  height: 0;
}

.overlayNav-active {
  z-index: 2;
  height: 100%;
}

.overlayNav-content {
  list-style: none;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 0;
}
.overlayNav-content a:first-child {
  color: #F84AA7;
}

.overlayNav-content a {
  padding: 20px;
  text-decoration: none;
  font-size: 40px;
  color: white;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}