.descriptionSection {
    background-color: white;
    color: #605e5e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20%;
}

.descriptionSection__title {
    color: black;
    font-size: 55px;
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .descriptionSection {
        padding: 50px 10%;
    }
}