.apppreview {
  width: 100%;
  grid-column: 1;
  grid-row: 2 / 4;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.apppreview img {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 796px) {
  .apppreview img {
    max-width: 100%;
  }
}
