.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b3a;
  width: 100%;
}

.navbar__name {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  padding: 20px 50px;
  color: #1b1b3a;
  font-weight: bold;
  white-space: nowrap;
}

.navbar__name__span {
  color: #f84aa7;
}

.navbar__links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bold;
}

.navbar__links a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}

.navbar__hamburger {
  padding: 5%;
  width: 30px;
  animation: open-to-close 1s ease;
  z-index: 100;
}

.navbar__hamburger__open {
  content: url("./menu.svg");
  transition: 0.5s;
}

.navbar__hamburger__close {
  content: url("./close_menu.svg");
}

.navbar__links li:hover {
  color: #F84AA7;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: white;
  }

  .navbar__name {
    width:20%;
    font-size: 20px;
    padding: 20px 30px;
  }

}
