.footer {
  background-color: #1b1b3a;
  display: flex;
  justify-content: center;
  border-top: 5px solid #FF3562;
}
.footer__section {
  padding: 1%;
}

.footer__heading {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: overline;
}

.footer__support {
  display: flex;
}

.footer svg:first-child {
    margin-right: 20px;
}

.footer svg {
  width: 50px;
  fill: white;
}

@media only screen and (max-width: 870px) {
  .footer {
    flex-wrap: wrap;
  }
}