.singleSection {
    margin-top: 50px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.singleSection__text h3 {
    font-size: 30px;
}

.singleSection__image {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    --width: 300px;
    width: var(--width); 
    height: calc(var(--width) * 3 / 5);
}
