.singleSection {
    margin-top: 50px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.singleSection__text {
    text-align: center;
    padding: 10%;
}

.singleSection__text h3 {
    font-size: 40px;
}

.singleSection__text p {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .singleSection {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .singleSection__text {
        text-align: center;
        padding-top: 0;
    }

    .singleSection__text h3 {
        margin-top: 0;
    }
}