.singleSection {
    margin-top: 50px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.singleSection__text h3 {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .singleSection {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}