.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto auto 200px;
  /* justify-items: stretch; */
} 

.next {
    grid-column: 1;
    grid-row: 4 / 6; 
    width: 100%;
    background-color: white;
  }
  